@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
 
</div>
<td>
    <li><a asp-controller="DoctorModels" asp-action="Index">Doctors Page</a></li>
    <li><a asp-controller="PatientsModels" asp-action="Index">Patients Page</a></li>
    <li><a asp-controller="IllnessesModels" asp-action="Index">Illnesses Page</a></li>
    <li><a asp-controller="ExaminatonBookingModels" asp-action="Index">Booking Page</a></li>
    <li><a asp-controller="PrescriptionsModels" asp-action="Index">Prescriptions Page</a></li>
</td>
